/*
  1. Add here the css selector for the body element
    Inside the body selector add:
    2. A font family.
    3. A background color.
    4. A display flex.
    5. A justify center.
    6. An align center.
    7. A height of 100vh.
    8. A margin of 0.

*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/*
  1. Add here the css selector for the container class.
    Inside the container selector add:
    2. A background color.
    3. A padding of 20px.
    4. A border radius of 10px.
    5. A box shadow if you want.
*/
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*
  1. Add here the css selector for the h1 element.
    Inside the h1 selector add:
    2. A margin of 0 0 20px.
*/
h1 {
  margin-bottom: 20px;
}

/*
  1. Add here the css selector for the tiles-wrapper class.
    Inside the tiles-wrapper selector add:
    2. A display flex.
    3. A justify center.
    4. A margin of 0 0 20px
*/

.tiles-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*
  1. Add here the css selector for the color-button class.
    Inside the color-button selector add:
    2. A width of 50px.
    3. A height of 50px.
    4. A margin of 0 10px.
    5. A border of none.
    6. A cursor of pointer.
*/
.color-button {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

/*
  1. Add here the css selector for the tiles id elements (ex. id red-tile)
    Inside the tiles selector add:
    2. A background color.
*/
